body {
    background-color: rgb(30, 28, 28);
}

.titulo {
    color: #8eb640;
    font-family: 'Dancing Script', cursive;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.imagenes {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.imagenes img {
    width: 400px;
    object-fit: cover;
    margin: 20px;
    border-radius: 10px;
}