form {
    width: 200px;
}

form input {
    display: block;
    margin: 10px;
    border: 2px solid #8eb640;
}

.boton {
    cursor: pointer;
}

h1 {
    margin-top: 15%;
    font-family: 'Dancing Script', cursive;
    color: darkcyan;
}

body {
    background-image: url(../imagen/pastel.jpg);
    background-repeat: round;
}